body #content {
  min-height: 800px; }
  body #content #episodes {
    display: inline-block;
    vertical-align: top; }
    body #content #episodes .episode {
      width: 400px; }
      body #content #episodes .episode .field-value {
        float: right; }
  body #content #imageContainer {
    display: inline-block;
    width: 500px; }
    body #content #imageContainer #imageInnerContainer {
      padding: 30px;
      width: 100%; }
      body #content #imageContainer #imageInnerContainer .image {
        width: 100%; }
