body #episodes {
  display: inline-block; }
  body #episodes .episode {
    width: 400px; }
    body #episodes .episode .field-value {
      float: right; }
body #imageContainer {
  display: block;
  width: 500px;
  float: right; }
  body #imageContainer .image {
    width: 100%; }
