body {
	#content
	{
		min-height: 800px;
		#episodes
		{
			display: inline-block;
			vertical-align: top;
			.episode
			{
				width: 400px;
				.field-value
				{
					float: right;
				}
			}
		}
		#imageContainer
		{
			display: inline-block;
			width: 500px;
			#imageInnerContainer
			{
				padding: 30px;
				width: 100%;
				.image
				{
					width: 100%;
				}
			}
		}
	}
}
